.container{

    /* background: linear-gradient(#93A8AF, #FFE8E8); */
    height: 97vh;
}
    .nav {
      background-color: #1FA790;
      height: 5rem;
      width: 100%;
      
      position: relative;
    }
    
    .nav > .nav-btn {
      display: none;
    }
    
    .nav > .nav-links {
      display: inline;
      float: right;
      margin-top: 1rem;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
    }
    
    .nav > .nav-links > a {
      display: inline-block;
      margin-left: 3rem;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      color: #efefef;
    }
    
    .nav > .nav-links > a:hover {
      background-color: #ffe8e83a;
    }
    
.grid-container {
    padding: 2rem;
    display: grid;

    grid-template-columns: 50% 50%;
  }
  .item1{
    margin: 1rem;
    font-family:cursive ;
    color: #1FA790;
    font-size: 30px;
    text-align: start;

  }
  .hr {
    border-top: 3px solid #1FA790;
width: 4rem;
margin-left: 2rem;



  }
  .h3{
    justify-self: start;
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #2f3234d2;
   }

.container1{
    width: 100%;
    position: relative;
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.container .card{
    position: relative;
    cursor: pointer;
   
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: #1fa790;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1{
    background: #ababab;
    transform: translateY(0);
}
.container .card .face.face1 .content{
    opacity: 0.7;
    transition: 0.5s;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content img{
    max-width: 100px;
}
.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.355);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    background-color: #1fa790;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #1fa790;
}

.container .card .face.face2 .content a:hover{
    background: #1fa790;
    color: #fff;
}
/* --------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");


.blog-card{
  position: relative;
  height: 44vh;
  width: 97%;
  max-width: 100%;
  margin: auto;
  border-radius: 25px;
  background: white;
  box-shadow: 0px 10px 50px rgba(81, 120, 110, 0.2);
}
.inner-part{
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  /* transition: .1s ease-in; */
}

.inner-part .img{
  height: 17rem;
  width: 35rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
}
#imgTap:checked ~ .inner-part .img{
  height: 40rem;
  width: 900px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}


.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  /* transition: .6s; */
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,

#tap-3:checked ~ .inner-part .img-3{
  opacity: 1;
  /* transition-delay: .2s; */
}
.content1{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  /* transition: .6s; */
}
#imgTap:checked ~ .inner-part .content1{
  display: none;
}

#imgTap2:checked ~ .inner-part .content1{
  display: none;
}

#tap-1:checked ~ .inner-part .content1-1,
#tap-2:checked ~ .inner-part .content1-2,

#tap-3:checked ~ .inner-part .content1-3{
  opacity: 1;
  margin-lef: 0px;
  z-index: 10;
  /* transition-delay: .3s; */
}
.content1 span{
  display: block;
  color: #7b7992;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500
}
.content1 .title{
  font-size: 30px;
  font-weight: 700;
  color: #3b3a3a;
  margin-bottom: 20px;
}
.content1 .text{
  color: #232325;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: justify;
}
.content1 button{
  display: inline-flex;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #1fa790;
  background-color: #1fa790;
}
.content1 button:hover{
  background-color: #70ecd7;
}
.sliders{
  position: absolute;
  bottom: 25px;
  left: 85%;
  transform: translateX(-10%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}

.sliders .tap{
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: linear-gradient(147deg,#1fa790 0%, #75e0c5 74%);
  border-radius: 10px;
  transform: scaleX(0);
  /* transition: transform .6s; */
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-:checked ~ .sliders .tap-3:before{
  transform: scaleX(1);
  width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}



.footer-distributed {
  background-color: #1FA790;
  box-shadow: 0 1px 1px 0 rgba(84, 84, 84, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: white;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fbfbfb;
  border-radius: 2px;
  font-size: 20px;
  color: #32887e;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
.li-icon{

  list-style: none;
margin-left: 2rem;
text-decoration: none;
}
.fot-lin{
  text-decoration: none;
  color: white;
  padding: 5px;
  
}

.fot-lin:hover{text-decoration:underline;}